/*---------------------------------------------------------------------------*
* SF Mono
*---------------------------------------------------------------------------*/

/** Regular */
@font-face {
    font-family: 'SF Mono';
    font-weight: 400;
    src: url('./fonts/SFMono-Regular.otf');
}
